.popular-categories-section {
    padding: 60px 0;
    background-color: #F9FAFB;

}

.section-title {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 40px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 70px;
    padding: 0 20px;
}

.category-card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.category-img-container {
    height: 222px;
    width: 386px;
}

.category-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-info {
    padding: 50px 0px 80px 0px;
    text-align: center;
}

.category-info h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin: 0;
}

@media (max-width: 768px) {
    .categories-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

    }
}